In [22]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import matplotlib.pyplot as plt

In [23]:
conn = MongoClient(host='127.0.0.1', port=27017)  # 实例化MongoClient
db = conn.get_database('lianjia')  # 连接到Lianjia数据库

zufang = db.get_collection('zufang_sh') # 连接到集合zufang
mon_data = zufang.find()  # 查询这个集合下的所有记录

In [24]:
lianjia_df=pd.DataFrame(list(mon_data))

In [25]:
lianjia_df.head(3)

,_id,dataDistributionType,district,microdistrict,community,area,orientation,houseType,title,price,city,longitude,latitude,floor,distance,hall_num,bedroom_num,bathroom_num,tags
0,5e61273337b6555f60f75562,0,普陀,甘泉宜川,新宜小区,35,南,1室0厅1卫,整租·新宜小区 1室0厅 南,3500,上海,121.44253,31.27199,6,NaN,1,0,1,NaN
1,5e61273737b6555f60f75563,0,普陀,甘泉宜川,新宜小区,34,南,1室1厅1卫,整租·新宜小区 1室1厅 南,3700,上海,121.44253,31.27199,6,NaN,1,1,1,NaN
2,5e61274637b6555f60f75564,0,普陀,真如,樱花苑,60,南,2室1厅1卫,整租·樱花苑 2室1厅 南,4300,上海,121.4002071,31.25485805,6,NaN,2,1,1,NaN

In [26]:
df=lianjia_df.copy()
df['district'].value_counts()

闵行    2212
松江    1691
静安    1374
徐汇    1156
宝山     919
嘉定     724
黄浦     722
杨浦     620
普陀     530
青浦     502
奉贤     467
浦东      62
金山      15
虹口       6
长宁       1
Name: district, dtype: int64

In [17]:
df['price']