In [22]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import matplotlib.pyplot as plt

In [23]:
conn = MongoClient(host='127.0.0.1', port=27017)  # 实例化MongoClient
db = conn.get_database('lianjia')  # 连接到Lianjia数据库

zufang = db.get_collection('zufang_sh') # 连接到集合zufang
mon_data = zufang.find()  # 查询这个集合下的所有记录

In [24]:
lianjia_df=pd.DataFrame(list(mon_data))

In [25]:
lianjia_df.head(3)

,_id,dataDistributionType,district,microdistrict,community,area,orientation,houseType,title,price,city,longitude,latitude,floor,distance,hall_num,bedroom_num,bathroom_num,tags
0,5e61273337b6555f60f75562,0,普陀,甘泉宜川,新宜小区,35,南,1室0厅1卫,整租·新宜小区 1室0厅 南,3500,上海,121.44253,31.27199,6,NaN,1,0,1,NaN
1,5e61273737b6555f60f75563,0,普陀,甘泉宜川,新宜小区,34,南,1室1厅1卫,整租·新宜小区 1室1厅 南,3700,上海,121.44253,31.27199,6,NaN,1,1,1,NaN
2,5e61274637b6555f60f75564,0,普陀,真如,樱花苑,60,南,2室1厅1卫,整租·樱花苑 2室1厅 南,4300,上海,121.4002071,31.25485805,6,NaN,2,1,1,NaN

In [26]:
df=lianjia_df.copy()
df['district'].value_counts()

闵行    2212
松江    1691
静安    1374
徐汇    1156
宝山     919
嘉定     724
黄浦     722
杨浦     620
普陀     530
青浦     502
奉贤     467
浦东      62
金山      15
虹口       6
长宁       1
Name: district, dtype: int64

In [27]:
df['price'].mean()

9012.893100627216

In [28]:
df.pivot_table('price', index='district', aggfunc='mean')

                 price
district
嘉定         4389.198895
奉贤         2586.145610
宝山         5410.511425
徐汇        11737.724913
普陀         8075.377358
杨浦         7863.629032
松江         6432.719692
浦东        18412.903226
虹口        23000.000000
金山         2946.666667
长宁         7000.000000
闵行         9292.768535
青浦        12627.420319
静安        12209.147744
黄浦        15499.155125

In [31]:
df.sort_values('price', ascending=False)['price'][:10]

8599     308000
370      280000
3468     250000
3347     200000
8403     180000
3295     170000
10546    160000
8826     150000
8537     130000
7182     130000
Name: price, dtype: int64

In [33]:
df['hall_num'].unique()

array([1, 2, 4, 3, 5, 6, 8, 9, 7], dtype=int64)

In [34]:
df[df['hall_num'].isin(['6,8,9,7'])]

Empty DataFrame
Columns: [_id, dataDistributionType, district, microdistrict, community, area, orientation, houseType, title, price, city, longitude, latitude, floor, distance, hall_num, bedroom_num, bathroom_num, tags]
Index: []

In [35]:
df['hall_num'].unique()

array([1, 2, 4, 3, 5, 6, 8, 9, 7], dtype=int64)

In [36]:
df =df.drop(df[df['area']<5].index)

In [37]:
df['price'].unique()

array([  3500,   3700,   4300,  25000,  10000,   5999,   4000,   7800,
         4200,   3600,   3800,   7600,   8200,  28000,   4500,   7000,
         5400,   9500,   4100,   3300,  18000,  20000,  13000,   9000,
         3200,  11000,  16500,  23000,  26000,  30000,  15000,   5000,
        26500,   8000,   8500,  14000,  22000,   6200,   7200,   6500,
         8800,  22500,  36000,   7500,  38000,  35000,  40000,  25800,
         8900,   6800,  19000,   6600,   4900,   6000,   4800,  12000,
         5800,   5500,   5300,   5200,   2900,  11500,   4600,  13500,
        16000,  34000,  24000,  13650,  17000,   3490,   7100,   8600,
         4400,  42000,  20500,  80000,   9800,  29000,  27000,  18500,
         1800,   9400,   5600,   3400,   5700,   3100,  21000,   7300,
         2600,   5100,   6700,  13168, 280000,   5900,   3980,   9200,
        45000,  23520,  20800,   5750,   2300,   9900,   2400,   7900,
        17500, 128000,   3000,  32000,   6900,  19800,   2350,   8300,
         8150,   2700,   2000,   1900,   1550,   1500,   2800,   2100,
         2200,   1200,   1300,   1400,   2500,   1600,   1700,   3900,
        14500,   4700,   1100,  31000,  10500,   7390,  10800,   8700,
        15500,  12500,   1850,  37000,   6300,   7700,  90000,  68000,
         4330,  34999,  10700,  43000,  52000,  28500,  12800,  50000,
        13800,  75000,  26800,  33000,  48000,  66000,  60000,  70000,
         2850,   3750,   4850,   2650,   1680,   6400,  29998,   3499,
         6100,   8400,   3950,   4989,   9600,   1000,  22800,  19999,
        85000,   6888,   2950,   4250,  16643,   2450,  65000,   2250,
         1950,  46000,  41500,  15960,   9100,   9300, 170000,   8100,
        24500,   4680, 200000,   4480,  51000,  18800,  58000,  44000,
        42500,   5480,  13490, 250000,   5580,   7480,  11300,  13600,
        16800,   4960,  41700,  63000,   3280,  21600,  72000,  15999,
         5090,   4350,   4950,   4580,   5460,  55000,   4650,   3650,
         3450,   2970,   2050,  95000,  11800, 100000,  47000,  16600,
       110000,   5680,   6550,  21500,  27500,  33500,  29800,  25999,
        34500,  15800,  13200,   4666,  12900,  14800,   1980,   4380,
         3350,  13400,   7400,  32500, 105000,   9700,   4750,   1380,
        13100,  14900,   4999,  39000,   3150,   4290,   3850,   5990,
        49000,  29700, 130000,  14200,  69800,  19500,  47500,  22600,
        53000,   5450,  12600,  13700,   4150,   7150,   6950,   5950,
        17800,  22400,  24800,  11900,  17300,  11200,  24200,   7990,
         5190,  23500,  45500,  46800,   3550,  10400,   5280, 180000,
        13300,  36800,  59000, 308000,  15600,  87469,  14300, 150000,
        18200,  11700,  16300,  17600, 120000,  31500,  62000,   7050,
        15900,  18700,  20200,  18600,  19300,  12300,  12700,   3250,
         4180,   2888,   4050,   3999,   5150,   2550, 160000,  37800,
         7080,  10200,  10600], dtype=int64)

In [38]:
df =df.drop(df[df['price']>100000].index)

In [39]:
df['price'].unique()

array([  3500,   3700,   4300,  25000,  10000,   5999,   4000,   7800,
         4200,   3600,   3800,   7600,   8200,  28000,   4500,   7000,
         5400,   9500,   4100,   3300,  18000,  20000,  13000,   9000,
         3200,  11000,  16500,  23000,  26000,  30000,  15000,   5000,
        26500,   8000,   8500,  14000,  22000,   6200,   7200,   6500,
         8800,  22500,  36000,   7500,  38000,  35000,  40000,  25800,
         8900,   6800,  19000,   6600,   4900,   6000,   4800,  12000,
         5800,   5500,   5300,   5200,   2900,  11500,   4600,  13500,
        16000,  34000,  24000,  13650,  17000,   3490,   7100,   8600,
         4400,  42000,  20500,  80000,   9800,  29000,  27000,  18500,
         1800,   9400,   5600,   3400,   5700,   3100,  21000,   7300,
         2600,   5100,   6700,  13168,   5900,   3980,   9200,  45000,
        23520,  20800,   5750,   2300,   9900,   2400,   7900,  17500,
         3000,  32000,   6900,  19800,   2350,   8300,   8150,   2700,
         2000,   1900,   1550,   1500,   2800,   2100,   2200,   1200,
         1300,   1400,   2500,   1600,   1700,   3900,  14500,   4700,
         1100,  31000,  10500,   7390,  10800,   8700,  15500,  12500,
         1850,  37000,   6300,   7700,  90000,  68000,   4330,  34999,
        10700,  43000,  52000,  28500,  12800,  50000,  13800,  75000,
        26800,  33000,  48000,  66000,  60000,  70000,   2850,   3750,
         4850,   2650,   1680,   6400,  29998,   3499,   6100,   8400,
         3950,   4989,   9600,   1000,  22800,  19999,  85000,   6888,
         2950,   4250,  16643,   2450,  65000,   2250,   1950,  46000,
        41500,  15960,   9100,   9300,   8100,  24500,   4680,   4480,
        51000,  18800,  58000,  44000,  42500,   5480,  13490,   5580,
         7480,  11300,  13600,  16800,   4960,  41700,  63000,   3280,
        21600,  72000,  15999,   5090,   4350,   4950,   4580,   5460,
        55000,   4650,   3650,   3450,   2970,   2050,  95000,  11800,
       100000,  47000,  16600,   5680,   6550,  21500,  27500,  33500,
        29800,  25999,  34500,  15800,  13200,   4666,  12900,  14800,
         1980,   4380,   3350,  13400,   7400,  32500,   9700,   4750,
         1380,  13100,  14900,   4999,  39000,   3150,   4290,   3850,
         5990,  49000,  29700,  14200,  69800,  19500,  47500,  22600,
        53000,   5450,  12600,  13700,   4150,   7150,   6950,   5950,
        17800,  22400,  24800,  11900,  17300,  11200,  24200,   7990,
         5190,  23500,  45500,  46800,   3550,  10400,   5280,  13300,
        36800,  59000,  15600,  87469,  14300,  18200,  11700,  16300,
        17600,  31500,  62000,   7050,  15900,  18700,  20200,  18600,
        19300,  12300,  12700,   3250,   4180,   2888,   4050,   3999,
         5150,   2550,  37800,   7080,  10200,  10600], dtype=int64)

In [41]:
df['price'].mean()

8785.209122359796

In [44]:
df_all = pd.DataFrame({'district':df['district'].unique(),'price':[0]*14,'area':[0]*14})

ValueError: arrays must all be same length